<!doctype html>
<html>
    <head>
        <title>Ladder2c</title>
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/css/bootstrap.min.css" />
        <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/bootstrap.min.js" ></script>  
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}"/>
    </head>
    <body>
        <br>
        <div class="container">
            <div class="row">
                <h1>Ladder2c</h1>
                <div class="span8">
                    <canvas id="canvas1" width="600" height="400"
                            style="border: solid 2px"> Text error </canvas>
                </div>
                <div class="span3">
                    <fieldset>
                        <legend>Add elements</legend>
                        <label>Type</label>
                        <select id='item_type'>
                            <option value='open_contact' selected onclick="select_other();">-| |-</option>
                            <option value='close_contact' onclick="select_other();">-|/|-</option>
                            <option value='coil' onclick="select_other();">-( )-</option>
                            <option value='instruction' onclick="select_instr();">-[ ]-</option>
                        </select> 
	                    <div id="div_instruction" style="display:none;">    
	                        <label>Instruction</label>
	                        <select id="item_name2">
	                        	<option value="set">Set</option>
	                        	<option value="reset">Reset</option>
	                        	<option value="timer">Timer</option>
	                        	<option value="counter">Counter</option>
	                        	<option value="register">Register</option>
	                        	<option value="pls">PLS</option>
	                        	<option value="plf">PLF</option>
	                        </select>
	                    </div>
                        <div id="div_name">
	                        <label>Name:</label><!-- TODO change this label name and add validation to the field! -->
	                        <input type='text' id='item_name' placeholder="Enter element name here."/>
	                   </div>
	                    <div id='div_value' style="display:none;">
                        <label>Value:</label>
                        <input type='text' id='item_value' />
                        </div> 
                        <button onclick='add_item();' class="btn">Add</button>
                        <hr>
                        <label>Branch:</label>                        
                        <div class="btn-toolbar">
                        	<div class="btn-group">                      
                        		<a class="btn btn-mini" href="javascript:addbranch('hor');">
                        			<img src="{{url_for('static',filename='branch/hor.jpeg')}}" width="50%">
                        		</a>
                        		<a class="btn btn-mini" href="javascript:addbranch('ver');">
                        			<img src="{{url_for('static',filename='branch/ver.jpeg')}}" width="50%">
                        		</a>
                        		<a class="btn btn-mini" href="javascript:addbranch('hor-down');">
                        			<img src="{{url_for('static',filename='branch/hor-down.jpeg')}}" width="50%">
                        		</a>
                        		<a class="btn btn-mini" href="javascript:addbranch('hor-top');">
                        			<img src="{{url_for('static',filename='branch/hor-top.jpeg')}}" width="50%">
                        		</a>
                        	</div></br>
                        	<div class="btn-group">
                        		<a class="btn btn-mini" href="javascript:addbranch('ver-right');">
                        			<img src="{{url_for('static',filename='branch/ver-right.jpeg')}}" width="50%">
                        		</a>
                        		<a class="btn btn-mini" href="javascript:addbranch('ver-left');">
                        			<img src="{{url_for('static',filename='branch/ver-left.jpeg')}}" width="50%">
                        		</a>
                        		<a class="btn btn-mini" href="javascript:addbranch('hor-ver');">
                        			<img src="{{url_for('static',filename='branch/hor-ver.jpeg')}}" width="50%">
                        		</a>
                        		<a class="btn btn-mini" href="javascript:addbranch('left-top');">
                        			<img src="{{url_for('static',filename='branch/left-top.jpeg')}}" width="50%">
                        		</a>
                        	</div></br>
                        	<div class="btn-group">
                        		<a class="btn btn-mini" href="javascript:addbranch('left-down');">
                        			<img src="{{url_for('static',filename='branch/left-down.jpeg')}}" width="50%">
                        		</a>
                        		<a class="btn btn-mini" href="javascript:addbranch('top-right');">
                        			<img src="{{url_for('static',filename='branch/top-right.jpeg')}}" width="50%">
                        		</a>
                        		<a class="btn btn-mini" href="javascript:addbranch('down-right');">
                        			<img src="{{url_for('static',filename='branch/down-right.jpeg')}}" width="50%">
                        		</a>
                        	</div>
                        </div>
						<br><br>
                        <div id="msg" class="well"></div>

                        <hr>
                        <button onclick='send_json();' class="btn">Send json data</button>
                        <button onclick='load_example();' class="btn">Load_example</button>
                        <button onclick='add_line();' class="btn">Append line</button>
                        </br>
                    </fieldset>
                </div>
                <!-- There is no such functionality now but it should be-->
                <div class="span3">
                    <fieldset>
                        <legend>Generate C code</legend>
                        <label>Processor type: </label>
                        <select>
                            <option>stm32f103vct6</option>
                        </select>

                        <label>Code style: </label>
                        <select>
                            <option>Linux</option>
                            <option>Stallman</option>
                            <option>GNU</option>
                        </select>
                        <button class="btn">Generate</button>
                    </fieldset>
                </div>
            </div>

        </div>

        <script>
            function Shape(x, y, w, h, fill) {
                // This is a very simple and unsafe constructor. All we're doing is checking if the values exist.
                // "x || 0" just means "if there is a value for x, use that. Otherwise use 0."
                // But we aren't checking anything else! We could put "Lalala" for the value of x 
                this.x = x || 0;
                this.y = y || 0;
                this.w = w || 1;
                this.h = h || 1;
                this.fill = fill || '#AAAAAA';
                this.id_row;
                this.id_cell;
                this.item_type = 'None';
  				this.item_name = 'None';
  				this.item_value = 'None';
  				this.img = 'None';
            }

            // Draws this shape to a given context
            Shape.prototype.draw = function(ctx) {
                ctx.beginPath();
                ctx.fillStyle = this.fill;
                //if (this.item_type == 'None') {
                    //ctx.fillRect(this.x, this.y, this.w, this.h);
                //} else {
                if(this.item_type != 'None'){

                    var img_view = new Image();
                    img_view.src = '/static/' + this.item_type;
                    a = ["set","reset","register","counter","timer","pls","plf"]
                    for (i in a){
                    	if(this.item_type==a[i]+".jpeg"){
                    		img_view.src = '/static/instruction.jpeg';
                    	}
                    }
                    ctx.drawImage(img_view, this.x, this.y);

                    ctx.fillstyle = 'black';
                    //ctx.font = 'italic bold 30px sans-serif';
                    ctx.textBaseline = 'top';
                    if(this.item_name != 'None'){ 
                    	ctx.fillText(this.item_name, this.x, this.y);
                    }
                }
                ctx.strokeStyle = 'lightred'; // red
                ctx.lineWidth = 0.1;
                ctx.strokeRect(this.x, this.y, this.w, this.h);
                ctx.closePath();
            }

            // Determine if a point is inside the shape's bounds
            Shape.prototype.contains = function(mx, my) {
                // All we have to do is make sure the Mouse X,Y fall in the area between
                // the shape's X and (X + Height) and its Y and (Y + Height)
                return (this.x <= mx) && (this.x + this.w >= mx) && (this.y <= my)
                    && (this.y + this.h >= my);
            }

            function CanvasState(canvas) {
                // **** First some setup! ****

                this.canvas = canvas;
                this.width = canvas.width;
                this.height = canvas.height;
                this.ctx = canvas.getContext('2d');
                // This complicates things a little but but fixes mouse co-ordinate problems
                // when there's a border or padding. See getMouse for more detail
                var stylePaddingLeft, stylePaddingTop, styleBorderLeft, styleBorderTop;
                if (document.defaultView && document.defaultView.getComputedStyle) {
                    this.stylePaddingLeft = parseInt(document.defaultView
                    .getComputedStyle(canvas, null)['paddingLeft'], 10) || 0;
                    this.stylePaddingTop = parseInt(document.defaultView
                    .getComputedStyle(canvas, null)['paddingTop'], 10) || 0;
                    this.styleBorderLeft = parseInt(document.defaultView
                    .getComputedStyle(canvas, null)['borderLeftWidth'], 10) || 0;
                    this.styleBorderTop = parseInt(document.defaultView
                    .getComputedStyle(canvas, null)['borderTopWidth'], 10) || 0;
                }
                // Some pages have fixed-position bars (like the stumbleupon bar) at the top or left of the page
                // They will mess up mouse coordinates and this fixes that
                var html = document.body.parentNode;
                this.htmlTop = html.offsetTop;
                this.htmlLeft = html.offsetLeft;

                // **** Keep track of state! ****
                this.valid = false; // when set to false, the canvas will redraw everything

                var a = 50; // cell width
                var b = 50; // cell hight
                var left_margin = 20;
                var top_margin = 10;
                var canvas_width = document.getElementById('canvas1').width;
                var canvas_height = document.getElementById('canvas1').height;
                var n = Math.floor((canvas_width - left_margin) / a); // cells count in row
                var m = Math.floor((canvas_height - top_margin) / b); //rows count

                this.cells = new Array(m);
                for ( var i = 0; i < m; i++) {
                    for ( var j = 0; j < n; j++) {
                        this.cells[i] = new Array(n);
                    }
                }

                this.dragging = false; // Keep track of when we are dragging
                // the current selected object. In the future we could turn this into an array for multiple selection
                this.selection = null;
                this.dragoffx = 0; // See mousedown and mousemove events for explanation
                this.dragoffy = 0;

                // **** Then events! ****

                // This is an example of a closure!
                // Right here "this" means the CanvasState. But we are making events on the Canvas itself,
                // and when the events are fired on the canvas the variable "this" is going to mean the canvas!
                // Since we still want to use this particular CanvasState in the events we have to save a reference to it.
                // This is our reference!
                var myState = this;

                //fixes a problem where double clicking causes text to get selected on the canvas
                canvas.addEventListener('selectstart', function(e) {
                    e.preventDefault();
                    return false;
                }, false);
                // Up, down, and move are for dragging
                canvas.addEventListener('mousedown', function(e) {
                    var mouse = myState.getMouse(e);
                    var mx = mouse.x;
                    var my = mouse.y;

                    var cells = myState.cells;
                    var l = cells.length;
                    var k = cells[0].length;

                    for ( var i = l - 1; i >= 0; i--) {
                        for ( var j = k - 1; j >= 0; j--) {
                            if (cells[i][j].contains(mx, my)) {
                                var mySel = cells[i][j];
                                myState.dragoffx = mx - mySel.x;
                                myState.dragoffy = my - mySel.y;
                                myState.selection = mySel;
                                myState.valid = false;
                                document.getElementById('msg').innerHTML = 'cell='
                                    + mySel.id_cell + ', row=' + mySel.id_row;
                                id = i;
                                id_cell = j;
                                id_row = i;
                                return;
                            }
                        }
                    }
                    // havent returned means we have failed to select anything.
                    // If there was an object selected, we deselect it
                    if (myState.selection) {
                        myState.selection = null;
                        myState.valid = false; // Need to clear the old selection border
                    }
                }, true);
                canvas.addEventListener('mousemove', function(e) {
                    if (myState.dragging) {
                        var mouse = myState.getMouse(e);
                        // We don't want to drag the object by its top-left corner, we want to drag it
                        // from where we clicked. Thats why we saved the offset and use it here
                        myState.selection.x = mouse.x - myState.dragoffx;
                        myState.selection.y = mouse.y - myState.dragoffy;
                        myState.valid = false; // Something's dragging so we must redraw
                    }
                }, true);
                canvas.addEventListener('mouseup', function(e) {
                    myState.dragging = false;
                }, true);
                // double click for making new shapes
                //  canvas.addEventListener('dblclick', function(e) {
                //    var mouse = myState.getMouse(e);
                //    myState.addShape(new Shape(mouse.x - 10, mouse.y - 10, 20, 20, 'rgba(0,255,0,.6)'));
                //  }, true);

                // **** Options! ****

                this.selectionColor = '#CC0000';
                this.selectionWidth = 2;
                this.interval = 20;
                setInterval(function() {
                    myState.draw();
                }, myState.interval);
            }

            CanvasState.prototype.addShape = function(shape, id_cell, id_row) {
                this.cells[id_row][id_cell] = shape;
                this.cells[id_row][id_cell].id_cell = id_cell;
                this.cells[id_row][id_cell].id_row = id_row;
                this.valid = false;
            }

            CanvasState.prototype.clear = function() {
                this.ctx.clearRect(0, 0, this.width, this.height);
            }

            // While draw is called as often as the INTERVAL variable demands,
            // It only ever does something if the canvas gets invalidated by our code
            CanvasState.prototype.draw = function() {
                // if our state is invalid, redraw and validate!
                if (!this.valid) {

                    var ctx = this.ctx;
                    var cells = this.cells;
                    this.clear();

                    // ** Add stuff you want drawn in the background all the time here **

                    // draw all shapes

                    var l = cells.length;
                    var k = cells[0].length;
                    for ( var i = 0; i < l; i++) {
                        for ( var j = 0; j < k; j++) {
                            var shape = cells[i][j];
                            // We can skip the drawing of elements that have moved off the screen:
                            //if (shape.x > this.width || shape.y > this.height ||
                            // shape.x + shape.w < 0 || shape.y + shape.h < 0) continue;
                            cells[i][j].draw(ctx);
                        }
                    }
                    // draw selection
                    // right now this is just a stroke along the edge of the selected Shape
                    if (this.selection != null) {
                        ctx.beginPath();
                        ctx.strokeStyle = this.selectionColor;
                        ctx.lineWidth = this.selectionWidth;
                        var mySel = this.selection;
                        ctx.strokeRect(mySel.x, mySel.y, mySel.w, mySel.h);
                        ctx.closePath();
                        ctx.strokeStyle = 'black';
                    }

                    // ** Add stuff you want drawn on top all the time here **

                    this.valid = true;
                }
            }

            // Creates an object with x and y defined, set to the mouse position relative to the state's canvas
            // If you wanna be super-correct this can be tricky, we have to worry about padding and borders
            CanvasState.prototype.getMouse = function(e) {
                var element = this.canvas, offsetX = 0, offsetY = 0, mx, my;

                // Compute the total offset
                if (element.offsetParent !== undefined) {
                    do {
                        offsetX += element.offsetLeft;
                        offsetY += element.offsetTop;
                    } while ((element = element.offsetParent));
                }

                // Add padding and border style widths to offset
                // Also add the _$tag_ offsets in case there's a position:fixed bar
                offsetX += this.stylePaddingLeft + this.styleBorderLeft
                    + this.htmlLeft;
                offsetY += this.stylePaddingTop + this.styleBorderTop
                    + this.htmlTop;

                mx = e.pageX - offsetX;
                my = e.pageY - offsetY;

                // We return a simple javascript object (a hash) with x and y defined
                return {
                    x : mx,
                    y : my
                };
            }
            CanvasState.prototype.addItem = function(id_cell, id_row, item_type,
            item_name, item_value) {
                this.cells[id_row][id_cell].fill = 'black';
                if(item_type!=""){
                	this.cells[id_row][id_cell].item_type = item_type+'.jpeg';
                }else{
                	this.cells[id_row][id_cell].item_type = 'None';
                }
                if(item_value!=""){
					this.cells[id_row][id_cell].item_value = item_value;
				}else{
					this.cells[id_row][id_cell].item_value = 'None';
				}
				this.cells[id_row][id_cell].item_name = item_name;
                document.getElementById('msg').innerHTML = 'add';
                this.valid = false;
            }
            CanvasState.prototype.addLine = function(id_row) {

                act_row = this.cells.length;
                emp = new Array(11);
                this.cells.push(emp);

                for ( var i = 0; i < this.cells[0].length; i++) {
                    this.cells[act_row][i] = new Shape(21 + (50 * i),
                    11 + (50 * act_row), 50, 50, 'white');
                    this.cells[act_row][i].id_cell = i;
                    this.cells[act_row][i].id_row = act_row;
                }

                m++;
                this.valid = false;
            }

            // If you dont want to use <body onLoad='init()'>
            // You could uncomment this init() reference and place the script reference inside the body tag
            var s = new CanvasState(document.getElementById('canvas1'));
            var canvas_width = document.getElementById('canvas1').width;
            var m, n;
            init();
            var id;
            var id_row;
            var id_cell;

            function init() {
                var a = 50; // cell width
                var b = 50; // cell hight
                var left_margin = 20;
                var top_margin = 10;
                var canvas_height = document.getElementById('canvas1').height;
                n = Math.floor((canvas_width - left_margin) / a); // cells count in row
                m = Math.floor((canvas_height - top_margin) / b); //rows count

                var id_cell = 0;
                var id_row = 0;
                for ( var j = 1 + top_margin; j <= m * b; j = j + b) {
                    for ( var i = 1 + left_margin; i <= n * a; i = i + a) {
                        s.addShape(new Shape(i, j, a, b, 'white'), id_cell, id_row);
                        id_cell++;
                    }
                    id_cell = 0;
                    id_row++;
                }
                document.getElementById('item_type').value = "open_contact" 
            }
            function add_item() {
                var item_type = document.getElementById('item_type').value;
                var item_name = document.getElementById('item_name').value;
				if(item_type=='instruction'){
					var item_type = document.getElementById('item_name2').value;
				}
				var item_value = document.getElementById('item_value').value;
                document.getElementById('msg').innerHTML = 'id cell = ' + id_cell
                    + ', id_row=' + id_row;
                s.addItem(id_cell, id_row, item_type, item_name, item_value);
            }
			function addbranch(type){
				var item_type = 'branch/'+type;
				s.addItem(id_cell, id_row, item_type, 'None', 'None');
			}
			function select_instr(){
				document.getElementById('div_value').style.display = 'block';
				document.getElementById('div_instruction').style.display = 'block';
			}
			function select_other(){
				document.getElementById('div_value').style.display = 'none';
				document.getElementById('item_value').value = null;
				document.getElementById('div_instruction').style.display = 'none';
			}
            function add_line() {
                document.getElementById('canvas1').height += 50;
                s.addLine(id_row);
            }
            function send_json(){
			    var hr = new XMLHttpRequest();
			    hr.open("POST", "{{url_for('get_json')}}", true);
			    hr.setRequestHeader("Content-type", "application/json;");
			    var data = {};
			   	for(var i=0; i<s.cells.length; i++){
			   		var row_tmp = {};
					for(var j=0;j<s.cells[0].length;j++){
						row_tmp['cell_'+j] = {'item_type':s.cells[i][j].item_type, 
											  'item_name':s.cells[i][j].item_name, 
											  'item_value':s.cells[i][j].item_value};
					}
					data['row_'+i] = row_tmp;
				}  
				hr.send(JSON.stringify(data));		
			}
			function load_example(){
				var results = document.getElementById("msg");
			    var hr = new XMLHttpRequest();
			    hr.open("GET", "{{url_for('load_example')}}", true);
			    hr.setRequestHeader("Content-type", "application/json");
			    hr.onreadystatechange = function() {
			   		if(hr.readyState == 4 && hr.status == 200) {
				   		var data = JSON.parse(hr.responseText);
						results.innerHTML = "";
						for(var row in data){
							for(var cell in data[row]){
								var rnum = row.charAt(row.length-1);
								if(cell.length<7){
									var cnum = cell.charAt(cell.length-1);
								}else{
									var cnum = cell.charAt(cell.length-2)+''+cell.charAt(cell.length-1);
								}
								var pos = data[row][cell].item_type.indexOf(".");
								var item_type = data[row][cell].item_type.substr(0,pos);
								var item_name = data[row][cell].item_name;
								var item_value = data[row][cell].item_value;
								s.addItem(cnum, rnum, item_type, item_name, item_value);
							}
						}
						s.valid = false;
			   		}
			    }
			    hr.send(null);
			    results.innerHTML = "requesting...";
			}
        </script>
    </body>
</html>
